.navbar {
    background-color: #212529;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
}

.navbar-brand {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-link {
    color: #ccc;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
}

    .nav-link i {
        font-size: 1.5rem;
    }

    .nav-link:hover {
        color: #fff;
        transform: scale(1.1);
    }

    .nav-link.active {
        color: #007bff;
        font-weight: bold;
    }

.navbar .btn {
    padding: 8px 16px;
    border-radius: 25px;
    background-color: #007bff;
    color: white;
    border: none;
}

    .navbar .btn:hover {
        background-color: #0056b3;
    }

/* Responsividad */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 8px;
    }

    .nav-items {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: center;
    }

    .nav-link {
        font-size: 1rem;
    }

    .navbar .btn {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .navbar-brand {
        font-size: 1rem;
    }

    .nav-link {
