@inherits LayoutComponentBase

<div class="page">
    <!-- El contenido ocupa todo el espacio disponible -->
    <main class="content px-4">
        <article>
            @Body
        </article>
    </main>

    <!-- Colocamos NavMenu de manera fija al fondo -->
    <div>
        <NavMenu />
    </div>
</div>
