@inherits LayoutComponentBase

<div class="page">
    <main class="content px-4" style="padding-bottom: 60px;">
        <article>
            @Body
        </article>
    </main>

    <!-- Colocamos NavMenu al final, pero sin usar "fixed" -->
    <div>
        <NavMenu />
    </div>
</div>
