@inherits LayoutComponentBase

<div class="page">
    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <!-- NavMenu colocado en la mitad inferior de la pantalla -->
    <div class="fixed-bottom">
        <NavMenu />
    </div>
</div>
