@inject HttpClient Http


<div class="navbar navbar-dark sticky-bottom">
    <div class="container-fluid justify-content-around d-flex align-items-center">
        <!-- Contratos -->
        <div class="nav-item">
            <NavLink class="nav-link" href="/Contratos" activeClass="active">
                <i class="bi bi-file-binary-fill nav-icon"></i>
                <span>Contratos</span>
            </NavLink>
        </div>

        <!-- Instaladores -->
        <div class="nav-item">
            <NavLink class="nav-link" href="/Instaladores" activeClass="active">
                <i class="bi bi-hammer nav-icon"></i>
                <span>Instaladores</span>
            </NavLink>
        </div>

        <!-- Clientes -->
        <div class="nav-item">
            <NavLink class="nav-link" href="/Clientes" activeClass="active">
                <i class="bi bi-person nav-icon"></i>
                <span>Clientes</span>
            </NavLink>
        </div>

        <!-- Items Tipo -->
        <div class="nav-item">
            <NavLink class="nav-link" href="/ItemsTipo" activeClass="active">
                <i class="bi bi-bar-chart-steps nav-icon"></i>
                <span>Items Tipo</span>
            </NavLink>
        </div>

        <!-- Materiales -->
        <div class="nav-item">
            <NavLink class="nav-link" href="/Materiales" activeClass="active">
                <i class="bi bi-bricks nav-icon"></i>
                <span>Materiales</span>
            </NavLink>
        </div>

        <!-- Swagger -->
        @if (entorno == "Development")
        {
            <div class="nav-item">
                <a class="nav-link not-active" href="https://localhost:7201/swagger" target="_blank">
                    <i class="fas fa-cogs nav-icon"></i>
                    <span>Swagger</span>
                </a>
            </div>
        }

    </div>
</div>

@code {
    private string entorno;

    protected override async Task OnInitializedAsync()
    {
        // Llamada a la API para obtener el entorno
        entorno = await Http.GetStringAsync("api/configuracion/entorno");
    }
}