<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyecto_Zetta.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Contratos">
                <img src="images/contrato-logo.png" alt="Contrato Logo" style="width: 20px; height: 20px; margin-right: 8px;" />
                Contratos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Instaladores">
                <img src="images/instalador-logo.png" alt="Instalador Logo" style="width: 20px; height: 20px; margin-right: 8px;" />
                Instaladores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Clientes">
                <img src="images/cliente-logo.png" alt="Cliente Logo" style="width: 20px; height: 20px; margin-right: 8px;" />
                Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://localhost:44375/swagger" target="_blank">
                <img src="images/swagger-logo.png" alt="Swagger Logo" style="width: 20px; height: 20px; margin-right: 8px;" />
                Swagger
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
