<div class="navbar navbar-dark fixed-bottom bg-success">
    <div class="container-fluid justify-content-center d-flex align-items-center">

        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="/Contratos">
                <i class="bi bi-file-binary-fill nav-icon"></i>
                <span>Contratos</span>
            </NavLink>
        </div>

        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="/Presupuestos">
                <i class="bi bi-file-binary-fill nav-icon"></i>
                <span>Presupuestos</span>
            </NavLink>
        </div>

        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="/Instaladores">
                <i class="bi bi-hammer nav-icon"></i>
                <span>Instaladores</span>
            </NavLink>
        </div>

        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="/Clientes">
                <i class="bi bi-person nav-icon"></i>
                <span>Clientes</span>
            </NavLink>
        </div>

        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="/ItemsTipo">
                <span class="bi bi-bar-chart-steps nav-icon"></span>
                <span>Items Tipo</span>
            </NavLink>
        </div>

        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="/Materiales">
                <span class="bi bi-bricks nav-icon"></span>
                <span>Materiales</span>
            </NavLink>
        </div>

        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="https://localhost:7201/swagger" target="_blank">
                <i class="fas fa-cogs nav-icon"></i> <!-- Icono de configuraciones -->
                <span>Swagger</span>
            </NavLink>
        </div>

    </div>
</div>
