<div class="navbar navbar-dark fixed-bottom bg-success">
    <div class="container-fluid justify-content-center d-flex align-items-center">
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="api/Contratos">
                <i class="fas fa-file-contract nav-icon"></i> <!-- Icono de contrato -->
                <span>Contratos</span>
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="api/Instaladores">
                <i class="fas fa-tools nav-icon"></i> <!-- Icono de herramientas -->
                <span>Instaladores</span>
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="api/Clientes">
                <i class="fas fa-user nav-icon"></i> <!-- Icono de usuario -->
                <span>Clientes</span>
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link d-flex align-items-center" href="https://localhost:44375/swagger" target="_blank">
                <i class="fas fa-cogs nav-icon"></i> <!-- Icono de configuraciones -->
                <span>Swagger</span>
            </NavLink>
        </div>
    </div>
</div>
