@page "/api/Contratos"


@inject IHttpServicio http
<h3>Lista de Contratos</h3>
<table>
    <tr>
        <th>
            Estado
        </th>
        <th>
            Tipo
        </th>
    </tr>

    @if (listaContratos == null)
    {
        <p>Buscando...</p>
    }
    else
    {
        @foreach (var item in listaContratos)
        {
            <tr> 
                <td>
                    @item.Estado
                </td>
                <td>
                    @item.Tipo
                </td>
            </tr>
        }
    }

</table>

@code {
    List<Obra> listaContratos;
    string Mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var resp = await http.Get<List<Obra>>("api/Contratos");
        if (!resp.Error)
        {
            listaContratos = resp.Respuesta;
        }
        else
        {
            Mensaje = "Error";
        }
    }
}
